//to do
// 1. make a variable for media query size so i can change the size across all elements easily
// 2. look for opportunity to use more mixins


@import "config", "pieces/sharePopup";

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 1em;
    background: color(GrayishBlue);
    font-family: "Manrope", sans-serif;
    @include flexCenter(row);
}

h1,
h2,
h3,
p {
    margin: 0;
}

.card--container {
    max-width: 500px;
    box-shadow: 0 2px 10px 10px rgba(56, 56, 56, 0.11);
    background: color(DesaturatedDarkBlue);
    display: flex;
    border-radius: 10px;

    @media screen and (max-width: 800px) {
        flex-wrap: wrap;
        max-width: 300px;
    }

    & > img {
        max-width: 200px;
        border-radius: 10px 0 0 10px;
        object-fit: cover;
        object-position: left;

        @media screen and (max-width: 800px) {
            width: 100%;

            height: 150px;
            max-width: unset;
            border-radius: 10px 10px 0 0;
            object-position: center;
        }
    }

    // this wraps all the content to the right of the big image-------------------
    .content--wrap {
        // outline: solid red 2px;
        padding: 2em 3em;
        background: white;
        border-radius: 0 10px 10px 0;
        @include flexCenter(column);
        position: relative;

        @media screen and (max-width: 800px) {
            padding: 2em 3em 1.5em 3em;
            border-radius: 0 0 10px 10px;
        }
    }

    .content__p {
        line-height: 1.4;
        margin-bottom: 1em;
        color: color(DesaturatedDarkBlue);

        @media screen and (max-width: 800px) {
            font-size: 1.2rem;
        }
    }

    .content__h2 {
        font-size: 1.4rem;
        margin-bottom: 0.5em;
        color: color(veryDarkBlue);

        @media screen and (max-width: 800px) {
            font-size: 1.4rem;
        }
    }

    // this wraps the SHARE ICON and the author avatar + name and date------------
    .author--wrap {
        // outline: solid green 2px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5em;

        .share-icon {
            cursor: pointer;
            width: 25px;
            height: 25px;
            padding: 0.5em;
            background: color(LightGrayishBlue);
            border-radius: 999px;
            position: relative;
            z-index: 999;

            &:hover {
                background: color(GrayishBlue);
            }

            &.display {
                background: color(GrayishBlue);
            }
        }
    }

    // this wraps the author avatar + name and date
    .inner-wrap {
        // outline: solid yellow 3px;
        @include flexCenter(row);

        .author__img {
            height: 35px;
            width: 35px;
            border-radius: 999px;
            margin-right: 1em;
        }
    }

    // ----this is the wrap for the author name and date---------------------------
    .author-name--wrap {
        // outline: solid black 2px;

        .author-name__h3 {
            margin-bottom: 0.25em;
            font-size: 1rem;
            color: color(veryDarkBlue);

            @media screen and (max-width: 800px) {
                font-size: 1.2rem;
            }
        }

        .author-name__p {
            color: color(DesaturatedDarkBlue);

            @media screen and (max-width: 800px) {
                font-size: 1.2rem;
            }
        }
    }

    // this gets revealed when the share icon is clicked it contains links to social media
}
